/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --border-color: #FF007066;
  --tittle-color: #DB00FF;
  --header-color: #000028;
  --section-header-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
  --header_rec: visible;
}
