/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color, #F1B2CE);
  accent-color: var(--accent-color, #FF0070);
  background-color: var(--backgroundcolor, #000028);
  font-family: var(--font-family, 'IBM Plex Mono', 'Arial', sans serif);
  font-size: var(--font-size, 18px);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  display: grid;
  grid-template-rows: 1fr  min-content 1fr;
  position: relative;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
  padding: var(--main-gap);
  padding-bottom: 0;
  background-color: var(--backgroundcolor);
}
.header_rec {
  font-weight: 400;
  line-height: 26px;
  font-size: var(--font-size);
  position: absolute;
  color: var(--accent-color);
  text-transform: uppercase;
  inset-inline-end: calc(var(--main-gap) + 10px);
  inset-block-start: var(--main-gap);
  display: flex;
  align-items: center;
  gap: 10px;
  visibility: var(--header_rec);
}
.header_rec::after {
  content: " ";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  inset-inline-end: 0px;
  inset-block-start: 50%;
}
.decorated-zone {
  position: relative;
}
.decorated-zone::before {
  position: absolute;
  content: " ";
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
  z-index: -1;
}
.decorated-zone::after{
  position: absolute;
  content: " ";
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
  z-index: -1;
}
.header__theme-menu {
  justify-self: flex-end;
  margin-block: 65px;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px;
  color: var(--section-header-color);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}
.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}
.header__theme-menu-button:hover {
  border: 1px solid var(--border-color);
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}
.tittle {
  font-size: clamp(7.25rem, 7.1055rem + 0.6163vw, 7.5rem);
  color: var(--tittle-color);
  font-style: 700;
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-block-end: 10px;
  
}
.title-decor {
  color: var(--header-color);
  background-color: var(--accent-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: 23.4px;
  font-weight: 700;
}
.text-shadow {
  text-shadow: 2px 2px 0 var(--accent-color);
}
.main {
  padding: var(--main-gap);
  display: grid;
  gap: 48px;
  margin-block: 30px;
}
.section {
  display: grid;
  gap: 20px;
}
.section-tittle {
  color: var(--section-header-color);
  font-size: var(--font-size);
}
.second-tittle {
  font-weight: 400;
}
.text-list {
  display: grid;
  gap: 19px;
}
.text-item {
  display: grid;
  gap: 10px;
}
.content {
  display: grid;
  gap: 20px;
}
.link {
  text-decoration: none;
}
.link:hover {
  border-bottom: 2px solid var(--text-color);
}
.link:focus {
  outline: none;
}
.link:focus-visible {
  outline: 1px solid var(--text-color);
}
.gallery-list {
  display: grid;
  gap: 10px;
  width: 100%;
  grid-template-columns: 1fr;
  list-style: none; 
  margin-top: -8px;
}
.gallery-list_item {
  width: 100%;
  height: auto;
  position: relative;
}
.gallery-list_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block; 
}
.footer {
  min-block-size: 668px;
  block-size: 100vh;
  display: flex;        
  justify-content: center; 
  align-items: center;     
}

.title_footer {
  text-align: center; 
}

@media(width>=768px) {
  .header {
    min-block-size: 1024px;
    padding: calc(var(--main-gap) + 10px);
    padding-bottom: 0;
  }
  .header_rec {
    inset-inline-end: 29px;
    inset-block-start: 20px;
  }
  .header__theme-menu {
    margin-block-end: 70px;
  }
  .tittle {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
  .header_description {
    justify-self: end;
    inline-size: clamp(364px,calc(100% / 2 - 10px), 491px);
    margin-block-end: 40px;
  }
  .main {
    padding: calc(var(--main-gap) + 10px);
    gap: 80px;
    margin-block: 44px;
  }
  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }
  .section_what_text-list {
    grid-column-start: span 2;
  }
  .content {
    grid-column-start: 2;
  }
 .section_gallery {
  grid-template-columns: 1fr;
 }
 .gallery-list {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "sunset sunset ice-cream"
  "tape books ice-cream"
  "tape street street";
  gap: 30px;
 }
 .sunset {
  grid-area: sunset;
 }
 .ice-cream {
  grid-area: ice-cream;
 }
 .tape {
  grid-area: tape;
 }
 .books {
  grid-area: books;
 }
 .street {
  grid-area: street;
 }
}
@media(width>=1024px) {
  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
  .section {
    gap: 30px;
  }
  .section_what_text-list {
    grid-template-columns: repeat(3, 1fr);
  }
}